_backups
server_log.txt
crashinfo.txt
*.amx
*.db
samp-server.exe
pawno/pawnc.*
pawno/pawncc.*
msvcp140.dll
vcruntime140.dll
pawno/pawno.exe
pawno/new.pwn
pawno/pawn.ico
pawno/pawno.rar
scriptfiles/colandreas
scriptfiles/data/settings.ini
scriptfiles/data/defences
scriptfiles/data/player
scriptfiles/data/tents
scriptfiles/data/vehicle
scriptfiles/data/safebox
scriptfiles/data/sign
scriptfiles/INI_Clan
scriptfiles/INI_Data
*.log
gamemodes/linecount.json
announce.exe
samp-npc.exe
dependencies
plugins
/settings.json
crashdetect.json
